<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="app">
        <h1>{{message+1}}</h1>
        <p v-if="flag">zeze</p>
        <li v-for="item in todos">
            {{item}}
        </li>
        <button v-on:click="reverseMessage">逆转消息</button>
        <input v-model="message" />
      
        <a :href="aa">baidu</a>
    </div>
    <script src="js/vue.js"></script>
    <script>
        var vm = new Vue({
            el:".app",
            data:{
                message:"hello,vue",
                flag:true,
                todos: [
                        { text: '学习 JavaScript' },
                        { text: '学习 Vue' },
                        { text: '整个牛项目' }
                     ],
                
            },
            methods: {
                aa:function(){
                    return 'https://www.baidu.com/'
                },
                reverseMessage: function () {
                this.message = this.message.split('').reverse().join('')
        }
  }
        })
    </script>
</body>
</html>