<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jyuyang.mapper.UserMapper">


    <!--
    id:唯一，最好写成类似于方法名
    parameterType : 参数类型 一个参数的情况下可以省略
    resultType: 返回值类型
    -->

    <select id="findById" parameterType="int" resultType="cn.jyuyang.entity.User">
        select * from user WHERE  id = #{id}
    </select>

    <resultMap id="userMap" type="cn.jyuyang.entity.User">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="address" property="address"/>
        <result column="tel" property="tel"/>
    </resultMap>
    <select id="findAll" resultType="User">
        select * from user
    </select>
    <insert id="save" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into user (user_name, address, tel) values (#{userName}, #{address}, #{tel});
    </insert>
    <!--设置对应关系-->
    <select id="page2" parameterType="map" resultType="User">
        SELECT * from user limit #{start},#{size}
    </select>
    <select id="page" resultType="User">
        select * from user limit #{param1}, #{param2}
    </select>
</mapper>